<!-- [ngClass]= nos permite especificar un número diferente de clases para aplicar a un elemento -->
<!--"{ active: i === currentPage }" Estamos agregando el nombre de la clase que queremos agregar como clave.-->

<nav *ngIf="true">
  <ul class="pagination">
    <li class="page-item" 
    [ngClass]="{ disabled: currentPage === 0}">
      <a (click)="currentPage = currentPage - 1" class="page-link">Prev</a>
    </li>
    <ng-container *appTimes="images.length; let i=index;">
      <!--ngFor="let image of images; let i=index estamos haciendo esto mismo pero configurando un ciclo propio-->
      <!--ng-container es como un elemento invisible. Lo usamos específicamente para eludir esa regla de solo una directiva estructural por elemento.-->
      <li 
        class="page-item"
        [ngClass]="{ active: i === currentPage }" 
        *ngIf="checkWindowsIndex(i)">
        <a (click)="currentPage = i" class="page-link">{{i+1}}</a>
      </li>
    </ng-container>  
    <li class="page-item"
    [ngClass]="{ disabled: currentPage === images.length -1  }">
      <a class="page-link" (click)="currentPage = currentPage + 1">Next</a>
    </li>
</ul>
</nav>
<div>
  <!--<h4 appClass [backgroundColor]=" 'orange' ">{{ images[currentPage].title }}</h4>-->
  <h4  [appClass]=" 'orange' ">{{ images[currentPage].title }}</h4>
  <!--llamamos a una clase creada por nosostros en class.name.ts-->
  <img [src]="images[currentPage].url" />
</div> 
<!--
<ul *appTimes="3">
  <li>Hi there!!</li>
</ul>-->